body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main{
  background-color: rgb(34, 201, 168);
  height: 650px;
  width: 300px;
  border: 2px solid rgb(153, 150, 150);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display{
  color: rgb(61, 11, 243);
  background-color: rgb(224, 224, 138);
  margin: 20px;
  width: 250px;
  font-size: 32px;
  border: 1px solid black;
  border-radius: 5px;
}
.keys{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.buttons{
  background-color: rgb(197, 197, 197);
  font-size: 24px;
  color: rgb(77, 77, 77);
  height: 70px;
  width: 70px;
  margin:5px;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 5px;
}
